.ba-header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: linear-gradient(to bottom,#0c0c0c 0%,#0c0c0c 50%,rgba(0,0,0,0) 100%);
}
.ba-header-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ba-menu-toggle{
	border: none;
	background: none;
	padding: 0;
	transition: transform 0.3s;
	&:hover{
		transform: scaleX(0.7);
		outline: none;
	}
}