.ba-section{
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding: 60px 0;
	&__inner{
		width: 100%;
	}
	&__title{
		max-width: 470px;
		margin-bottom: 60px;
		padding-left: 3px;
		font-weight: 900;
		letter-spacing: 0.025em;

		&--small{
			max-width: initial;
			padding: 0;
			font-size: 24px;
			text-align: center;
			margin-bottom: 30px;
			
			@media screen and (min-width:640px){
				font-size: 30px;
				margin-bottom: 40px;
			}
		}
	}
}

.ba-tab-content{ 
	position: relative;
	padding: 60px 0 40px;
	@media screen and (min-width:640px){
		padding: 60px 0 100px;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		right: -30px;
		width: 60%;
		height: 100%;
		z-index: -1;
		background: url(../img/spaceman.jpg) right bottom no-repeat;
		background-size: contain;
	}
}
.ba-tabs{
	border-top: 1px solid #1c1c1c;
}
.ba-tab{
	display: block;
	padding-top: 26px;
	opacity: 0.1;
	&:hover{
		opacity: 0.5;
		color: #fff;
	}
	&--active{
		opacity: 1;
		position: relative;

		&::before{
			content: '';
			position: absolute;
			background: $primary-color;
			height: 30px;
			width: 5px;
			left: -15px;
			top: 28px;
			@media screen and (min-width:640px){
				top: 0;
				left: 0;	
				height: 5px;
				width: 30px;			
			}
		}
	}
	&__title{
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 0.05em;
		margin-bottom: 14px;
	}
	& > :last-child{
		margin-bottom: 0;
	}

}

.ba-button-icon{
	display: inline-block;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 14px;	
	position: relative; 
	line-height: 1;
	padding: 6px 10px 10px 0; 

	&:after{
		top: 0;
		right: 0;
		left: 10px;
		height: 100%;
		content: '';
		background: $primary-color;
		position: absolute;
		z-index: 0;
		transition: left 0.3s; 
	}
	&:hover{
		color: #fff; 

		&:after{
			left: calc(100% - 37px);
		}
	}
	& > span{
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;		
	}
	svg{
		margin-left: 14px;
	}
}